## Using Python Calculator

#### Operators

+,-,*,/

In [1]:
2+2

4

In [2]:
(50-6)*12

528

In [7]:
tax=12.5/100
print("Tax =",tax)

price=100.50

print(price*tax)

price+_

round(_,2)

Tax = 0.125
12.5625

201.12

In [8]:
'spam eggs'

'spam eggs'

In [11]:
'doesn\'t'

"doesn't"

In [12]:
"doesn\'t"

"doesn't"

In [13]:
'"yes," they said'

'"yes," they said'

In [16]:
"\"Yes,\" they said"

'"Yes," they said'

In [19]:
'Hello\'Abhijit\''

"Hello'Abhijit'"

In [21]:
'Isn\'t,'"they said"

"Isn't,they said"

In [22]:
# here \n in name gives new line

print('C:\some\name')

C:\some
ame

In [23]:
# here r will give same line

print(r'C:\some\name')

C:\some\name

In [27]:
print("""\
Usage: thingy[OPTIONS]
-h
-H hostname
""")

Usage: thingy[OPTIONS]
-h
-H hostname

In [29]:
3*'um'+'im'

'umumumim'

In [30]:
'Py'+'thon'

'Python'

In [31]:
word='Python'
word[0]

'P'

In [32]:
word[5]

'n'

In [33]:
word[0:5]

'Pytho'

In [34]:
'J'+word[1:]

'Jython'

In [35]:
s="Sukumar Bibar"
len(s)

13

# Lists

In [36]:
sq=[1,4,9,16,25]
sq

[1, 4, 9, 16, 25]

In [37]:
sq[0]

1

In [38]:
sq[-1]

25

In [40]:
sq[-3:]

[9, 16, 25]

In [41]:
sq[:]

[1, 4, 9, 16, 25]

In [42]:
sq+[36,49,64,81,100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [43]:
cubes=[1,8,27,65,125]
cubes[3]

65

In [44]:
cubes[3]=64
print(cubes)

[1, 8, 27, 64, 125]

In [46]:
cubes.append(216)
print("After Apppened",cubes,"\n")

cubes.append(7**3)
print(cubes)

After Apppened [1, 8, 27, 64, 125, 216, 343, 216]

[1, 8, 27, 64, 125, 216, 343, 216, 343]

In [47]:
letters=['a','b','c','d','e','f']
letters

['a', 'b', 'c', 'd', 'e', 'f']

In [48]:
letters[2:4]=[2,3]
letters

['a', 'b', 2, 3, 'e', 'f']

In [49]:
letters[2:4]=[]
letters

['a', 'b', 'e', 'f']

In [57]:
letters=['a','b','c','d']
print("Length Function gives count as ",len(letters))

Length Function gives count as  4

In [59]:
# making list
a=['a','b','c']

# another list
n=[1,2,3]

# final list
x=[a,n]
print(x)

[['a', 'b', 'c'], [1, 2, 3]]

In [60]:
x[0]

['a', 'b', 'c']

In [61]:
x[1]

[1, 2, 3]

In [64]:
x[0][1]

'b'

# Programing

In [66]:
# Fibonacci Series:

a,b=0,1
while a<10:
    print(a)
    
    a,b=b,a+b

0
1
1
2
3
5
8

In [72]:
a,b=0,1
while a<100:
    print(a,end=',')
    a,b=b,a+b

0,1,1,2,3,5,8,13,21,34,55,89,

# More on Lists

In [1]:
# list.append(x)
# list.extend(iterable) * would add more than one elements

# list.remove(x) * would remove the given item

# list.insert(index,x) * would insert the new item in the index position.

# list.pop([index])  * would remove the index element, if index is not provided it would delete the last number
# list.clear()
# list.index(x[,start[,end]])

# list.count(x) * would show how many times x appear in list

# list.sort(key=None,reverse=False) *would arrange the data in ascending

# list.reverse() * Reverse the elements in the list 
# list.copy() * WOuld copy the list

In [2]:
fruitlist=['orange','apple','pear','banana','kiwi','apple','banana']
print("Fruit List =>",fruitlist)
print("Apple Count ",fruitlist.count('apple'))
print("Pear Count ",fruitlist.count('pear'))
print("Donkey Count ",fruitlist.count('donkey'))

Fruit List => ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
Apple Count  2
Pear Count  1
Donkey Count  0

In [3]:
print("Index Position\n",fruitlist.index('apple'),fruitlist.index('banana'))

Index Position
 1 3

In [4]:
fruitlist.reverse()

In [5]:
fruitlist

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [6]:
new=fruitlist.copy()
new

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [13]:
print(fruitlist.sort(),fruitlist)
new.pop()
new

None ['apple']

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple']

In [14]:
new.remove('kiwi')
new

['banana', 'apple', 'banana', 'pear', 'apple']

In [15]:
new.pop()

'apple'

In [16]:
new

['banana', 'apple', 'banana', 'pear']

In [17]:
stack=[3,4,5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [19]:
stack.pop()
stack.pop()
stack.pop(0)
stack

[4, 5]

In [25]:
# to implement a queue,use collections.deque which was designed to have fast appends and pops from both ends. For Ex
from collections import deque
queue=deque(['Eric','Jhon','Michael'])
queue

deque(['Eric', 'Jhon', 'Michael'])

In [26]:
# adding Terry
queue.append("Terry")

# adding Graham
queue.append("Graham")

In [27]:
print("Present Queue")

# final list
queue

Present Queue

deque(['Eric', 'Jhon', 'Michael', 'Terry', 'Graham'])

In [28]:
# pop from left
queue.popleft()
print(queue)

deque(['Jhon', 'Michael', 'Terry', 'Graham'])

In [29]:
#pop from right
queue.popleft()

#print
print(queue)

deque(['Michael', 'Terry', 'Graham'])

In [30]:
# pop from last
queue.pop()
print(queue)

deque(['Michael', 'Terry'])

# List Comprehension

In [34]:
squares=[]

for i in range(10):
    squares.append(i**2)
    print('i =',i,"and Square is",squares)
    
print("\nFinal List Out of the loop\n",squares)

i = 0 and Square is [0]
i = 1 and Square is [0, 1]
i = 2 and Square is [0, 1, 4]
i = 3 and Square is [0, 1, 4, 9]
i = 4 and Square is [0, 1, 4, 9, 16]
i = 5 and Square is [0, 1, 4, 9, 16, 25]
i = 6 and Square is [0, 1, 4, 9, 16, 25, 36]
i = 7 and Square is [0, 1, 4, 9, 16, 25, 36, 49]
i = 8 and Square is [0, 1, 4, 9, 16, 25, 36, 49, 64]
i = 9 and Square is [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Final List Out of the loop
 [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
square=list(map(lambda x:x**2,range(10)))

In [36]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [40]:
combs=[]

for x in [1,2,3]:
    for y in [3,1,4]:
        if x==y:
            combs.append((x,y))

In [41]:
print(combs)

[(1, 1), (3, 3)]

In [42]:
list1=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!=y:
            list1.append((x,y))
print(list1)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [43]:
vec=[-4,-2,0,2,4]

[x**2 for x in vec]

[16, 4, 0, 4, 16]

In [44]:
# filter double from data
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [45]:
# apply a filter which is greater than 0 or equal to zero
[x for x in vec if x>=0]

[0, 2, 4]

In [46]:
# absolute function will make all data positive

[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [51]:
# call a method on each element

freshfruit=['banana ',' loganberry','   passion fruit']
print("Fresh Fruit ",freshfruit)

print("\nUSING STRIP Function")
# will remove all blank spaces
[i.strip() for i in freshfruit]

Fresh Fruit  ['banana ', ' loganberry', '   passion fruit']

USING STRIP Function

['banana', 'loganberry', 'passion fruit']

In [52]:
# create a list of 2-tuple like (number,square)
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [54]:
# invalid as its not enclosed in tuple

[x,x**2 for x in range(6)]

SyntaxError: invalid syntax (1326065740.py, line 1)

In [57]:
vec=[[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
from math import pi

# rounding of pie in one to six range
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [59]:
matrix=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [60]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [61]:
transposed=[]
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [63]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The del statement

In [64]:
a=[-1,1,66.25,333,333,1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [66]:
print(a)
del a[2:4]
print("\nAfter Deleting\n",a)

[1, 66.25, 1234.5]

After Deleting
 [1, 66.25]

In [67]:
# delete all contains inside
del a[:]

In [68]:
# a shows empty
a

[]

In [69]:
# deleted a list
del a

# Tuples and Sequences

In [71]:
t=12345,54321,'hello'
t[0]

12345

In [72]:
t

(12345, 54321, 'hello')

In [73]:
u=t,(1,2,3,4,5)
u

((12345, 54321, 'hello'), (1, 2, 3, 4, 5))

In [75]:
# tuples are immutable
t[0]=8888

TypeError: 'tuple' object does not support item assignment

In [76]:
v=([1,2,3],[3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [78]:
empty=()
singleton='hello',
len(empty)

0

In [79]:
len(singleton) # note: due to coma this shows one

1

In [80]:
singleton

('hello',)

In [81]:
singleton2='hello'
len(singleton2)

5

# Sets

- Unordered collection  with no duplicate elements.
- curly braces or set() is used to create set
- create empty set use set()

In [82]:
basket={'apple','orange','apple','pear','orange','banana'}

# sets allows no duplicated values

print(basket)

{'orange', 'banana', 'apple', 'pear'}

In [83]:
# fast membership testing
'orange' in basket

True

In [84]:
'crab' in basket

False

In [86]:
a=set('abcdfegskab')
b=set('alacazam')

print("OUtput shows only unique values")
print(a)
print(b)

OUtput shows only unique values
{'d', 'g', 'c', 'e', 'k', 'f', 'b', 's', 'a'}
{'l', 'c', 'z', 'm', 'a'}

In [87]:
# common words gets discarded.
a-b

{'b', 'd', 'e', 'f', 'g', 'k', 's'}

In [88]:
# letters that are common in a and b

a&b

{'a', 'c'}

In [90]:
# letters that i a or b or both
a|b

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'k', 'l', 'm', 's', 'z'}

In [91]:
# letters that are in a or b but not same
a^b

{'b', 'd', 'e', 'f', 'g', 'k', 'l', 'm', 's', 'z'}

In [92]:
a={x for x in'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

# Dictionary

- key and values pair
- curly bracket
- mutable
- comma seperated with key and values
- empty dictionary={}

In [93]:
tel={'Jack':4098,'shape':4139}

# adding new key with values
tel['guido']=2190
print(tel)

{'Jack': 4098, 'shape': 4139, 'guido': 2190}

In [94]:
# delete key with value
del tel['shape']

# adding new
tel['ivr']=4127
print(tel)

{'Jack': 4098, 'guido': 2190, 'ivr': 4127}

In [95]:
list[tel]

list[{'Jack': 4098, 'guido': 2190, 'ivr': 4127}]

In [96]:
list(tel)

['Jack', 'guido', 'ivr']

In [97]:
'guido' in tel

True

In [98]:
'jack' in tel

False

In [101]:
#  making dict using dict() constructor

dict([('sahape',4139),('guido',4127),('jack',4098)])

{'sahape': 4139, 'guido': 4127, 'jack': 4098}

In [104]:
{x:x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [105]:
dict(sape=4139,guido=4127,jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [1]:
for k in [10,20,30,40,50,60,70,80]:
    if k==30:
        break
    print(k)
print("End of loop")

10
20
End of loop